/*html{
  background-color: #f1f1f1;
  font-family: "Roboto";
}*/
.plesirs{
  background-color:#04010c;
  width: 100%;
  height: 5%;
  text-align: center;
  color: #FFF;
}
.container {
    clear: both;
    margin-left: 50px;
    margin: 50px;
    margin-top: -9%;
    width: 80%;
    border: 50px;
    height: 100%px;
  background-image: url('img-bg.png');
}
h1{
    color: white;
    text-align: center;
}
.logespace{
    margin-left: 20%;
    width: 60%;
    margin-bottom: 30px;
    margin-top: 2px;
    height: 350px;
    border: solid black;
    opacity: inherit;
}
.box{
	position: relative;
	margin: auto;
	height: 400px;
  top: 0px;
	left: 0;
	z-index: 200;
	right: 0;
  width:480px;

/*	color:#666;
	border-radius: 3px;
	background: rgba(8, 6, 6, 0.5);
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;*/
}
form {
    margin-top: 15px;
    margin-left: 40px;
    width: 70%;
    height: 80%;
    padding: 1em;
    border: 1px solid #CCC;
    background-color: rgba(231, 241, 238, 0.925);

  }
  
  form div + div {
    margin-top: 0em;
  }
  
  label {
    clear: both;
    display: inline-block;
    width: 100px;
   
  }
  
  input {
    margin-top: 50px;
    font: 1em sans-serif;
    width: 80%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(147, 158, 153);
    margin-left: 32px;
    text-indent: 15px;
    border-radius: 5px;
    background-color: rgba(231, 241, 238, 0.925);
  }
  
  input:focus, textarea:focus {
    border-color: rgb(121, 109, 109);
  }
  button{
    margin-right: auto;
    background: #cfd8dc;
    margin-top: 30px;
    color: white;
    font-size:20px;
    margin-right: 0px;
    width: 130px;
    height: 45px;
    background-color: rgb(49, 12, 216);
    display:block;
    cursor:pointer;
    border-radius: 2px;
  }
  button:active{
    background: #4f5edf;
    color: #99a3a8;
  }
  button:hover{
		background: #4909dd;
  color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}
  .logtof {
    margin-top: 50px;
    margin-right: 0px;
    width: 65px;
    height: 48px;
    display:block;
    margin-left: 234px;
    position: absolute;
   overflow: auto;
   background-color: white;
   border-right: none;
   border-color: rgb(121, 109, 109);
   border: 1px solid rgb(147, 158, 153);
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   background-color: rgb(231, 241, 238);
  }
  .logtoff{
    margin-top: 15%;
    margin-left: 21%;
    width: 50%;
    height: 60%;
    
  }
 
.croit{
  background-color: rgb(13, 76, 148);
  height: 70px;
  margin-top: -16px;
  margin-left: -5%;
  width: 110%;
 color: cornsilk;
}
.inscrire{
  text-align: center;
  margin-top: -30px;
  margin-left: 95px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}














